<div class="col-md-2 logo">
    <div class="logo2">
        <a href="#1">
            <img src="Images/Thi.png" class="animate__animated animate__rubberBand"
                style="width: 120px; margin-left: 50px;  " alt="">

        </a>
    </div>
</div>
<!-- <div class="col-md-10" style="padding-top: 15px; ">
    <nav class="navbar " role="navigation" style="margin-bottom: 0;  ">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav animationTop delay-02">
                <li><a href="#1"><span class="glyphicon glyphicon-home"></span> Trang Chủ</a></li>
                <li><a href="#2"><span class="glyphicon glyphicon-th-list"></span> Đề Thi</a></li>
                <li><a href="#3"><span class="glyphicon glyphicon-info-sign"></span> Giới Thiệu</a></li>
                <li><a href="#4"><span class="glyphicon glyphicon-earphone"></span> Liên Hệ</a></li>
                <li><a href="#5"><span class="glyphicon glyphicon-envelope"></span> Góp Ý/Hỏi Đáp</a></li>

                <ul class="nav navbar-nav ">
                    <li class="dropdown">
                        <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown"> <span
                                class="glyphicon glyphicon-user"></span> Tài khoản <b class="caret"></b></a>
                        <ul class="dropdown-menu animationTop2 delay-tk" ng-controller="index">
                            <li><a class="dropdown-item" href="#6">Đăng nhập</a></li>
                            <li><a class="dropdown-item" href="#7">Đăng kí thành viên</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="dropdown-item" href="#8">Cập nhật hồ sơ</a></li>
                            <li><a class="dropdown-item" ng-click="dangXuat()" href="">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
</div> -->
<div class="col-md-10" style="padding-top: 15px; ">
    <nav class="navbar" role="navigation">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav animationTop delay-02" >
                <li class="active"><a href="#1"><span class="glyphicon glyphicon-home"></span> Trang Chủ</a></a></li>
                <li><a href="#2"><span class="glyphicon glyphicon-th-list"></span> Đề Thi</a></li>
                    <li><a href="#3"><span class="glyphicon glyphicon-info-sign"></span> Giới Thiệu</a></li>
                    <li><a href="#4"><span class="glyphicon glyphicon-earphone"></span> Liên Hệ</a></li>
                    <li><a href="#5"><span class="glyphicon glyphicon-envelope"></span> Góp Ý/Hỏi Đáp</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown"> <span
                            class="glyphicon glyphicon-user"></span> Tài khoản <b class="caret"></b></a>
                    <ul class="dropdown-menu animationTop2 delay-tk" ng-controller="index">
                        <li><a class="dropdown-item" href="#6">Đăng nhập</a></li>
                        <li><a class="dropdown-item" href="#7">Đăng kí thành viên</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="dropdown-item" href="#8">Cập nhật hồ sơ</a></li>
                        <li><a class="dropdown-item" ng-click="dangXuat()" href="">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>