
<div class="row">
    <div class="col-md-6">
        <div class="animationTop delay-02"
            style="font-size: 30px; margin: 20px; padding-left: 100px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
            <span style="color: #368E9D;">Thi trắc nghiệm</span> <span style="color: #DF3F75;"> ONLINE</span>

        </div>
        <div style="padding-left: 100px;">
            <ul class="animationTop delay-04">
                <li>Rèn luyện kiến thức, kỹ năng</li>
                <li>Đa dạng các chuyên ngành</li>
                <li>Phù hợp các đối tượng người dùng khác nhau</li>
                <hr>
                <a href="#7">
                    <button type="button" class="btn btn-primary animationTop delay-05"
                    style="background-color: #DF3F75; color: white; border: none; width: auto; border-radius:  30px ; font-size: 14px; margin-right: 10px;">ĐĂNG
                    KÍ</button>
                </a>
            </ul>
        </div>
    </div>
    <div class="col-md-6 animationTop delay-06" ng-controller="myCtrl3">
        <div class="panel zoom"
            style="margin-right: 30px; width: 410px; border-radius: 30px ; background-color: #368E9D; color: white;  padding: 20px; ">
            <div
                style="font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; font-weight: bold;">
                Thông Tin</div>
            <form name="frmLogin">
                <div style="line-height: 35px; padding-left: 10px;">
                    <div>
                        <label >Tài khoản</label>
                    
                        <input class="form-control" type="text" name="username" ng-model="name" required
                            ng-model-options="{updateOn:'blur'}" style="height: 30px; width: 350px; ">
                            <small ng-show="frmLogin.username.$error.required" class="form-text text-danger">Vui lòng nhập tên tài khoản</small>
                            
                        
                    </div>
                    <div >
                           
                        <label for="">Mật khẩu</label>
                    <input class="form-control" ng-model="pass" type="password" name="password" required
                        style="height: 30px; width: 350px; ">
                        <small ng-show="frmLogin.password.$error.required"  class="form-text text-danger">Vui lòng nhập mật khẩu</small>
                    </div>
                </div>
                <div style="margin-top: 30px; text-align: center;">
                    <button type="button" ng-click="dangNhap()" class="btn btn-primary" style="background-image: linear-gradient(90deg, #368E9D, #DF3F75); color: white; border: none; width: 170px; height: 35px; border-radius: 20px; font-size: 14px; margin-right: 10px;">ĐĂNG NHẬP</button>
                </div>
                
                <center>
                    <div style="color: white; margin-top: 15px;">
                        <a href="#9"  style="color: white;"> <span class="glyphicon glyphicon-question-sign"></span> Quên mật khẩu?</a>
                    
                    </div>
                    <div class="text-center"
                        style="margin-top: 30px; text-align: center; vertical-align: middle; width: 300px;">

                        <a href="" class="gg">
                            <h5  ng-click="dangNhapGG()"><span> <img src="Images/gg.png" width="20px" alt=""></span> Đăng nhập với tài khoản
                                Google</h5>
                        </a>
                    </div>
                </center>

               

            </form>

        </div>
    </div>
</div>
